<!DOCTYPE html>
<html lang="en">
<head>
    {{>Links}}
</head>
<body>
    {{>Navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <a href="https://instagram.com/garimasorathiya">
                            <img src="Images/Garima.png" width="50%" alt="Garima🤪" class="img-fluid" title="Garima🤪"></a>
                        </figure>                        
                    </div>
                    <!-- left header -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Garima's Profile</p>
                        <h1>I am <span>17 Years</span> old. I make <span>ARTS</span> for people. If you wanna know about me, then check out my <span>Profile</span>.</h1> 
                        <a href="https://instagram.com/garimasorathiya" target="Garima"><button>View Profile</button></a>                   
                    </div>
                    <!-- right header  -->
                </div>
            </div>
        </div>
    </div>   
    
    <!-- footer code  -->
    {{>Footer}}
</body>
</html>