<!DOCTYPE html>
<html lang="en">
<head>
    {{>Links}}
</head>
<body>
    {{>Navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="Images/404.png" alt="Rehan🤞" class="img-fluid" title="Error">
                        </figure>                        
                        <p>Welcome to Garima's Art App</p>
                        <h1>{{errorMSG}}</h1> 
                        <a href="/"><button>Back To Home</button></a>                   
                    </div>
                    <!-- right header  -->
                </div>
            </div>
        </div>
    </div>   
    
    <!-- footer code  -->
    {{>Footer}}
</body>
</html>